# Konfigurasi MongoDB (Opsional: biarkan kosong jika ingin menggunakan MongoDB lokal bawaan container docker)
# MONGO_URI=mongodb://mongo:27017
# DB_NAME=fun_football_db

# Port internal aplikasi
PORT=8080
GIN_MODE=release
